.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: transparent;
    box-shadow: 0 10px 20px black;
    backdrop-filter: blur(10px);
    z-index: 999;
}
.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    width: 100%;
    max-width: 1600px ;
}
.navbar-logo{
    font-size: 2rem;
    font-weight: 600;
    color:#fff;
    cursor: pointer;
}

.navbar-container .navbar-menu{
    display: flex;
    text-align:center;
    gap:1.5rem;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight:500;
    padding: 3px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease;
    white-space: nowrap;
    color: #fff;
}

.navbar-container .navbar-menu li a:hover{
    color: #162530;
    background: rgba(188,212,229,0,8);
    border: 2px solis #fff;
}

.navbar-toggle{
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar{
    display: block;
    width:25px;
    height: 3px;
    margin: 5px auto;
    background: #fff;
    transition: all 0.3s ease-in-out;

}

@media(max-width:880px){
    .navbar{
        backdrop-filter: none;
    }
    .navbar-container .navbar-menu{
        display: none;
        flex-direction:column;
        align-items: flex-start;
        gap:1.7rem !important;
        position: absolute;
        height: 100vh;
        width: 250px;
        top: 0;
        right: 0;
        padding: 1.5rem;
        box-shadow: 0 10px rgba(0,0,0,0.5);
        backdrop-filter: blur(10px);
    }

.navbar-toggle{
    display: block;
    z-index: 999;
}
.navbar-container .navbar-menu.active{
    display: flex;
}
.navbar-toggle.active.bar:nth-child(2){
    opacity: 0;
}
.navbar-toggle.active.bar:nth-child(1){
    transform: translateY(8px)rotate(45deg);
}
}